<html>
  <head>
    {% if title %}
    <title>{{ title }} - microlog</title>
    {% else %}
    <title>Welcome to microlog</title>
    {% endif %}
  </head>
  <body>
    <div>microlog: 
        <a href="/index">Home</a>
        | <a href="{{url_for('log_time')}}">Log time</a>
        {% if g.user.is_authenticated %}
        | <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}        
    </div>        
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>