<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Time Logging</h1>
  <form action="" method="post" name="endlog">
      {{ form.hidden_tag() }}
      <p>
        <input type="submit" name="submit" value="log start">
      </p>
      <p>        
        <input type="submit" name="submit" value="log end">

      </p>
      <!--
      <p>
          enter start time: 
          {{ form.start_time(size=10) }} 
      </p>        
      <p>
          enter leaving time: 
          {{ form.end_time(size=10) }} 
          {{ form.had_lunch }} had Lunch
          
      </p> 
      -->
  </form>
{% endblock %}