<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Sign In</h1>
  <form action="" method="post" name="endlog">
      {{ form.hidden_tag() }}
      <p>
          start time: 
          {{ form.time(size=10) }} 
          <input type="submit" value="log start">
      </p>        
      <p>
          leaving time: 
          {{ form.time(size=10) }} 
          {{ form.had_lunch }} Had Lunch</p>
          <input type="submit" value="log end">
      </p>
  </form>
{% endblock %}